* {
    margin: 0;
    padding: 0;
}
#wrapper {
    padding: 2% 12%;
}
#map {
    height: 500px;
}
.menu-open {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}
.menu-open i {
    font-size: 3em;
    font-weight: bold;
}
.alert-error {
    color: red;
}
select {
    display: block;
    margin: 20px 0;
    border: 2px solid;
    outline: none;
}
.btn-card,hr {
    margin-bottom: 20px;
}
.menu .logout {
    margin: 10px 30px 0 30px;
}

.doctable th, .doctable td {
    border: 1px solid black;
    border-collapse: collapse;
}